// BASIC RESET
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  line-height: inherit;
}

html {
  @include respond(desktop-extra-large) {
    // width > 1920px
    font-size:  62.5%; // 1rem = 13px
  }
  @include respond(desktop-large) {
    // 1440 <= width <= 1919px
    font-size: 62.5%; // 1rem = 10px
  }
  @include respond(desktop-medium) {
    // 1200px <= width <= 1439px
    font-size: 62.5%; // 1rem = 9px
  }
  @include respond(desktop) {
    // 992px - 1199px
    font-size: 62.5%; // 1rem = 9px
  }
  @include respond(tablet) {
    // 768px - 991px
    font-size: 56.25%; // 1rem = 9px
  }
  @include respond(mobile) {
    // width < 767px
    font-size: 50%; // 1rem = 8px
  }
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: $color-black;
}
