@font-face {
  font-family: robotoThin;
  font-weight: 100;
  src: url("../../fonts/Roboto-Thin.ttf") format("opentype");
}

@font-face {
  font-family: robotoLight;
  font-weight: 300;
  src: url("../../fonts/Roboto-Light.ttf") format("opentype");
}

@font-face {
  font-family: robotoRegular;
  font-weight: 400;
  src: url("../../fonts/Roboto-Regular.ttf") format("opentype");
}

@font-face {
  font-family: robotoMedium;
  font-weight: 500;
  src: url("../../fonts/Roboto-Medium.ttf") format("opentype");
}

@font-face {
  font-family: robotoBold;
  font-weight: 700;
  src: url("../../fonts/Roboto-Bold.ttf") format("opentype");
}

@font-face {
  font-family: robotoBlack;
  font-weight: 900;
  src: url("../../fonts/Roboto-Black.ttf") format("opentype");
}

@font-face {
  font-family: openSansLight;
  font-weight: 300;
  src: url("../../fonts/OpenSans-Light.ttf") format("opentype");
}

@font-face {
  font-family: openSansRegular;
  font-weight: 400;
  src: url("../../fonts/OpenSans-Regular.ttf") format("opentype");
}

@font-face {
  font-family: openSansSemiBold;
  font-weight: 600;
  src: url("../../fonts/OpenSans-SemiBold.ttf") format("opentype");
}

@font-face {
  font-family: openSansBold;
  font-weight: 700;
  src: url("../../fonts/OpenSans-Bold.ttf") format("opentype");
}

@font-face {
  font-family: openSansExtraBold;
  font-weight: 800;
  src: url("../../fonts/OpenSans-ExtraBold.ttf") format("opentype");
}

body,
input,
button {
  font-family: $font-os-reg-400, sans-serif;
}
