.form__ {
  &container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  &title {
    color: $yellow;
    display: flex;
    justify-content: center;

    font-family: $font-os-bol-700;
    font-size: 2.5rem;
    line-height: 3.4rem;
    text-align: center;
  }
  &description {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: $color-white;
    font-family: $font-os-reg-400;
    text-align: center;
    padding:5rem;
  }
  &inputContainer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  &input {
    width: 35.2rem;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    height: 3rem;
    padding: 1.5rem;
  }
}
