.icon {
  &__apple,
  &__android,
  &__windows {
    height: 5rem;
    width: 5rem;
  }
  &__facebook,
  &__twitter,
  &__pinterest,
  &__googleplus {
    height: 5rem;
    width: 5rem;
  }
  &__pixter {
    height: 4.3rem;
  }
  &__preview {
    height: 47rem;
  }
}
