.modal__ {
  &title {
    color: $color_black;
    font-family: $font-os-bol-700;
    font-size: 2.5rem;
    line-height: 3.4rem;
    margin-top: 2rem;
  }
  &subtitle {
    color: $color_black;
    font-family: $font-os-reg-400;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 2.8rem;
    margin-bottom: 3.5rem;
  }
  &description {
    color: $color_black;
    font-family: $font-os-lig-300;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 2.8rem;
    margin-bottom: 3.5rem;
  }
  &date {
    color: $color_black;
    font-family: $font-os-lig-300;
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  &button {
    background-color: $yellow;
    border: none;
    padding: 1rem;
    color: $color_black;
    font-family: $font-os-bol-700;
    font-size: 1rem;
    line-height: 1.8rem;
  }
}
