.footer__ {
  &section {
    background-color: $dark;
  }
  &container {
    padding: 8.3rem;
    background: $dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 102.7rem;
    margin: 0 auto;
  }
  &contact {
    display: flex;
    justify-content: space-between;
    font-family: $font-os-reg-400;
    font-size: 1.3rem;
    color: $color-white;
    &-details {
      width: 15.2rem;
      @media screen and (max-width: 768px) {
        padding: 2rem 0;
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &social {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem;
    @media screen and (max-width: 768px) {
      // width: 80vw;
      // flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      // padding: 1rem;
    }
  }
  &socialIcon {
    padding: 2.25rem;
  }
}
