.header {
  &__section {
    background-color: $yellow;
  }

  &__text {
    font-family: $font-os-bol-700;
    font-size: 2.2rem;
    line-height: 3rem;
    color: $dark;
  }
  &__nav {
    padding: 7rem 8.3rem;
    display: flex;
    justify-content: space-between;
    height: 4.3rem;
    align-items: center;
    background-color: $yellow;
    max-width: 120rem;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      width: 80vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__links {
    display: flex;
    width: 37.6rem;
    height: 3rem;
    justify-content: space-between;
    @media screen and (max-width: 768px) {

      margin-top: 2rem;
    }
  }
}
