.library__ {
  &section {
    background-color: $color_white;
  }
  &container {
    margin: 0 auto;
    max-width: 82.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @media screen and (max-width: 768px) {
      width: 80vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &title {
    color: $color_black;
    font-family: $font-os-bol-700;
    font-size: 2.5rem;
    line-height: 3.4rem;
    margin-top: 8rem;
  }
  &subtitle {
    color: $color_black;
    font-family: $font-os-reg-400;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 2.8rem;
    margin-bottom: 3.5rem;
  }
  &deck {
    display: flex;
    flex-wrap: wrap;
  }
  &book {
    cursor: pointer;
    margin: 0 3.25rem;
  }
  &bookItem {
    margin-bottom: 4.8rem;
  }
}
