.slider__ {
  &section {
    background-color: $yellow;
  }
  &container {
    background: $yellow;
    display: flex;
    padding: 8.3rem;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &title {
    color: $color_black;
    font-family: $font-os-bol-700;
    font-size: 3.3rem;
    line-height: 4.5rem;
  }
  &subtitle {
    color: $color_black;
    font-family: $font-os-reg-400;
    font-size: 1.7rem;
    line-height: 2.3rem;
    padding: 3.6rem 0;
  }
  &description {
    width: 68.4rem;
    color: $color_black;
    font-family: $font-os-lig-300;
    font-size: 1.7rem;
    line-height: 2.3rem;
    @media screen and (max-width: 768px) {
      width: 80vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &store {
    padding: 3.6rem 0;
    display: flex;
    max-width: 17rem;
    justify-content: space-between;
  }
  &storeIcon {
    //   padding: 0 1.7rem;
  }
}
