// BASE COLORS
$color-transparent: transparent;
$color-white: #ffffff;
$color-black: #000000;

$basic_primary: #21b7fb;
$basic_success: #13d58f;
$basic_alert: #ff3f5d;
$neutral_700: #0a0a0d;
$neutral_600: #1b1d26;
$neutral_500: #34353e;
$neutral_400: #696b7c;
$neutral_300: #c6c6ca;
$neutral_200: #f4f4f4;

// PIXTER COLORS
$yellow: #fcdb00;
$off_white: #e5e5e5;
$dark: #010101;

// FONTS
$font-rb-thi-100: "robotoThin";
$font-rb-lig-300: "robotoLight";
$font-rb-reg-400: "robotoRegular";
$font-rb-med-500: "robotoMedium";
$font-rb-bol-700: "robotoBold";
$font-rb-bla-900: "robotoBlack";

$font-os-lig-300: "openSansLight";
$font-os-reg-400: "openSansRegular";
$font-os-sbo-600: "openSansSemiBold";
$font-os-bol-700: "openSansBold";
$font-os-xbo-800: "openSansExtraBold";
